body{
    margin: 0;
  padding: 0;
}
.menu{
  font-family: 'Playfair Display SC', serif;
}
li.one{
    width: 100px;
    font-size: 20px;
    float:left;
    display: inline-block;
    padding: 0px;
    margin: 20px;
    line-height: 10px;
}
li.two{
    line-height: 10px;
    font-size: 20px;
    width: 100px;
    float:right;
    display: inline;
    padding: 0px;
    margin: 20px; 
}

#hidemenu a{
  display: block;
  text-align: center;
  padding: 2px;
  color:grey;
  text-decoration: none;
  font-weight:bold;
}
#hidemenu a:hover {
    
    background-color: #ddd;
    color: black;
    text-shadow: 0px 0px 1px #fff;
    padding-left: 10px;
}
.image{
  /* hiện thỉ text trên ảnh, thì để ảnh dưới dạng background-image*/
    background-image: url("XYZ.jpg");
    background-size: cover; /*căn chỉnh kích thước ảnh phù hợp nhất với trang web*/
    background-position: center; /*lấy bộ cục chính của image*/
    height: 500px;
    line-height: 1.5; 
}

@media (max-width: 800px) /**/
.contentpagetop {
    top: 17%;
    width: 79%;
}


.contentpagetop {
    position: absolute;
    top: 31.5%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 1;
    width: 60%;
    height: 250px;
    color: #fff;
    background: rgba(0,0,0,.85);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    opacity: 0.8;
}

.line-gradient {
    width: 250px;
    height: 3px;
    position: absolute;
    left: 44.05%;
    margin: 0 0 0 -75px;
    background: #8ac249;
    background: -webkit-linear-gradient(left,rgba(138,194,73,1) 0%,rgba(0,188,212,1) 100%);
    background: linear-gradient(to right,rgba(138,194,73,1) 0%,rgba(0,188,212,1) 100%);
    line-height: 2;
}

h1{
    padding: 5px;   
    font-weight: 300;
    font-size: 30px;
}

.m-lr30 {
    margin-left: 30px;
    margin-right: 30px;
}
.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
}
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

button, input{
    margin: 0px;
    font: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
}

.input-group .form-control, .input-group-btn {
    display: table-cell;
}

.input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border: 1px solid transparent;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -2px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn>.btn {
    position: relative;
}

.btn-primary {
    color: #fff;
    background-color: #FF6347;
    border-color: #2e6da4;
}

.btn-warning {
    color: #fff;
    background-color: #3277b3 ;
    border-color: #eea236;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

* { 
  /* nhằm đảm bảo padding và đường viền đc tính vào chiều rộng 
    và chiều cao tổng thể của các ptu */
  
  /* thuộc tính box-sizing đc thiết lập là border-box*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group {
    position: relative;
    display: table-row;
    border-collapse: separate;
}

user agent stylesheet
div {
    display: block;
}
body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    background-color: #f4f4f4;
    color: #222c37;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background: #fff600;
    color: #222c37;
    text-shadow: none;
}



















